<%= simple_form_for @recipe do |f| %>
  <div class="form-inputs">
    <div class="summary-form">
      <h4>Summary information:</h4>
      <%= f.input :name %>
      <%= f.input :category, collection: Recipe::CATEGORIES %>
      <%= f.input :description %>
      <div class="row" style="margin: auto">
        <div class="col-md-6" style="padding-left: 0">
          <%= f.input :active_time %>
        </div>
         <div class="col-md-6" style="padding-left: 0">
          <%= f.input :idle_time %>
        </div>
      </div>
      <%= f.input :difficulty %>
      <%= f.input :serving_size %>
      <%= f.input :photo, as: :file, input_html: { class: 'd-none', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: 'Attach a photo 📎' %>
      <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
    </div>
    <!-- The form for nested model: ingredient -->
    <div class="ingredients-form">
      <h4>Ingredients:</h4>
      <%= f.simple_fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', f: ingredient %>
      <% end %>
      <div class="links">
        <%= link_to_add_association button_tag('+', type: "button", class: "add"), f, :ingredients %>
        <%= link_to_add_association 'Add ingredient', f, :ingredients %>
      </div>
    </div>

    <!-- The form for nested model: step -->
    <div class="steps-form">
      <h4>Steps:</h4>
      <%= f.simple_fields_for :steps do |step| %>
        <%= render 'step_fields', f: step %>
      <% end %>
      <div class="links">
        <%= link_to_add_association button_tag('+', type: "button", class: "add"), f, :steps %>
        <%= link_to_add_association 'Add step', f, :steps %>
      </div>
    </div>

    <%= f.button :submit, class: "button button-secondary" %>
  </div>
<% end %>

