<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
  <div class="card-recipes">
    <img src="https://images.unsplash.com/photo-1517314687957-13af800de1c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80" />
    <div class="card-recipes-info">
      <div>
        <h2><%= recipe.name %></h2>
        <% 5.times do  %>
          <i class="fas fa-star"></i>
        <% end %>
        <p><%= recipe.category %></p>
        <% ratings = [] %>
        <% recipe.reviews.each do |review| %>
          <% ratings << review.rating %>
        <% end %>
        <% if ratings.length > 0 %>
          <%= (ratings.sum / ratings.length).to_f %>
        <% end %>

        <%#= ratings.inject{ |sum, el| sum + el }.to_f / ratings.size %>
      </div>
      <div>
        <p><%= link_to "View", recipe_path(recipe) %></p>
        <% if policy(recipe).edit? %>
          <p><%= link_to "Edit", edit_recipe_path(recipe) %></p>
          <p>
          <%= link_to "Delete",
              recipe_path(recipe),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

