<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
  <div class="card-recipes">
    <img src="https://images.unsplash.com/photo-1517314687957-13af800de1c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80" />
    <div class="card-recipes-info">
      <div>
        <h2><%= recipe.name %></h2>
        <div class="rating-stars rating-stars-small">
          <% ratings = [] %>
          <% recipe.reviews.each do |review| %>
            <% ratings << review.rating %>
          <% end %>
          <% if ratings.length > 0 %>
            <% ratings_average_i = (ratings.sum / ratings.length).to_i %>
            <% reminder = ratings.sum.to_f % ratings.length %>
            <% ratings_average_i.times do  %>
              <i class="fas fa-star"></i>
            <% end %>
            <% if reminder > 0 %>
              <i class="fas fa-star-half-alt"></i>
              <% (5 - ratings_average_i - 1).times do %>
                <i class="far fa-star"></i>
                <i><%= "(#{ratings.length} votes)" %></i>
              <% end %>
            <% else %>
              <% (5 - ratings_average_i).times do %>
              <i class="far fa-star"></i>
              <% end %>
              <i><%= "(#{ratings.length} votes)" %></i>
            <% end %>
            <% else %>
              <% 5.times do %>
              <i class="far fa-star"></i>
            <% end %>
            <i><%= "(#{ratings.length} vote)" %></i>
          <% end %>

        </div>

      </div>
      <div>
        <p><%= link_to "View", recipe_path(recipe) %></p>
        <% if policy(recipe).edit? %>
          <p><%= link_to "Edit", edit_recipe_path(recipe) %></p>
          <p>
          <%= link_to "Delete",
              recipe_path(recipe),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

