<div class="card-review">
  <div class="d-flex justify-content-start">
    <% if review.user.photo.attached? %>
      <%= cl_image_tag review.user.photo.key, height: 300, width: 400, crop: :fill, class: "avatar" %>
    <% else %>
      <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSd-e9Kn0P1AAKT-EdAiaAVUvBtRVAJqONXIL0pJ402cOAzVi0i", class: "avatar" %>
    <% end %>
    <div class="review-header">
      <%= review.user.email %>
      <div class="rating-stars rating-stars-small">
        <% review.rating.to_i.times do  %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - review.rating.to_i).times do  %>
          <i class="far fa-star"></i>
        <% end %>
      </div>
    </div>
  </div>
  <p><%= review.content %></p>
  <div class="review-date">
    <%= review.updated_at.strftime("%B #{review.updated_at.day.ordinalize}, %Y") %>
  </div>
</div>
