
<div class="page-banner">
  <div class="container-edaga">
    <%= simple_form_for @recipe do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :category %>
      <%= f.input :active_time %>
      <%= f.input :idle_time %>
      <%= f.input :difficulty %>
      <%= f.input :serving_size %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn btn-info" %>
    <% end %>
    </div>
    <p><%= link_to "Back to list", recipes_path %></p>
  </div>
</div>
