<div class="wrapper">
  <div class="container-edaga">
    <div class="recipe-summary">
      <div class="recipe-summary-header">
        <div class="d-flex justify-content-between">
          <h2><%= @recipe.name %></h2>
          <% if policy(@recipe).edit? %>
            <%= link_to edit_recipe_path(@recipe), class: "link-fa " do %>
              <i class="fa fa-edit"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="recipe-summary-content">
        <% if @recipe.photo.attached? %>
          <%= cl_image_tag @recipe.photo.key, height: 200, width: 200, crop: :fill, radius: 10 %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1517314687957-13af800de1c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80" class="photo-food-md"/>
        <% end %>

        <div class="recipe-summary-text">
          <p>by <%= @recipe.user.username %></p>
          <%= render "average_rating", recipe: @recipe %>
          <p><%= @recipe.description %></p>
        </div>
      </div>
      <div class="recipe-summary-card">
        <div class="item">
          <i class="fas fa-stopwatch"></i>
          <% if @recipe.active_time.nil? %>
            _
          <% else %>
            <%= @recipe.active_time %>
          <% end %>
        </div>
        <div class="item">
          <i class="fas fa-pause-circle"></i>
          <% if @recipe.idle_time.nil? %>
            _
          <% else %>
            <%= @recipe.idle_time %>
          <% end %>
        </div>
        <div class="item">
          <i class="fas fa-users"></i>
          <% if @recipe.difficulty.nil? %>
            _
          <% else %>
            <%= @recipe.difficulty %>
          <% end %>
        </div>
        <div class="item">
          <i class="fas fa-crown"></i>
          <% if @recipe.serving_size.nil? %>
            _
          <% else %>
            <%= @recipe.serving_size %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="recipe-content">
      <div class="recipe-ingredients">

        <h3>Ingredients</h3>

        <% @recipe.ingredients.each do |ingredient| %>
          <div class="d-flex justify-content-between">
            <%= "#{ingredient.quantity} #{ingredient.name}" %>
            <!-- <div>
              <%# if policy(@recipe).edit? %>
                <%#= link_to edit_ingredient_path(ingredient), class: "link-fa " do %>
                  <i class="fa fa-edit"></i>
                <%# end %>

                <%#= link_to ingredient_path(ingredient),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "link-fa" do %>
                  <i class="fa fa-trash link-fa"></i>
                <%# end %>
              <%# end %>
            </div> -->
          </div>
        <% end %>
        <%# if policy(@recipe).edit? %>
          <%#= link_to new_recipe_ingredient_path(@recipe), class: "link-fa " do %>
            <!-- <i class="fas fa-plus-circle"></i> -->
          <%# end %>
        <%# end %>

      </div>
      <div class="recipe-steps">
        <h3>Directions</h3>
        <% step_number = 0 %>
        <% @recipe.steps.each do |step| %>
          <% step_number += 1 %>
          <h5><%= "Step #{step_number}" %></h5>
          <p><%= step.description %></p>
        <% end %>
      </div>
    </div>

    <% if @recipe.reviews.empty? %>
      <strong>Be the first to review this recipe</strong>
    <% else %>
      <strong>Rate this recipe</strong>
    <% end %>
    <%= render "reviews/new", recipe: @recipe, review: @review %>

    <% if !@recipe.reviews.empty? %>
      <div class="container-cards-reviews">
      <h3>Reviews</h3>
      <% @recipe.reviews.each do |review| %>
        <%= render "review_card", review: review %>
      <% end %>
      </div>
      <div class="text-right">
        <i class="fas fa-undo"></i>
        <%= link_to "Back", recipes_path, class: "link-text-color " %>
      </div>
    <% end %>

  </div>
</div>



<%# if current_user == @recipe.user %>
  <%#= link_to "Add dose", new_recipe_dose_path(@recipe) %>
<%# end %>



























