<!-- Home banner -->
<div class="home-banner">
  <div class="container-edaga">
    <div class="row">
       <div class="col-12">
        <h1>Notre coup de coeur de la semaine ❤️</h1>
       </div>
    </div>

    <div class="row banner-content">
      <% homerecipe = Recipe.find { |recipe| recipe.name == "Poulet Mhamer" } %>
        <% default_homerecipe = Recipe.first %>

      <div class="col-12 col-md-6">
        <% if homerecipe.nil? %>
          <h2><%= default_homerecipe.name %></h2>
          <p><%= default_homerecipe.description %></p>
        <% else %>
          <h2><%= homerecipe.name %></h2>
          <p><%= default_homerecipe.description %></p>
        <% end %>
      </div>

      <div class="col-12 col-md-6">
        <% if homerecipe.nil? %>
          <% if default_homerecipe.photo.attached? %>
            <%= cl_image_tag default_homerecipe.photo.key,crop: :fill, class: "banner-photo" %>
          <% else %>
            <%= image_tag "home-banner.jpg", class: "banner-photo" %>
          <% end %>
        <% else %>
          <% if homerecipe.photo.attached? %>
            <%= cl_image_tag homerecipe.photo.key,crop: :fill, class: "banner-photo" %>
          <% else %>
            <%= image_tag "home-banner.jpg", class: "banner-photo" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- <div class="home-section-one">
  <div class="container-edaga">
    <h3>Discover our weekly favorites</h3>
    <div class="row">
      <%# count = 1 %>
      <%# @recipes.each do |recipe| %>
        <%# if count < 4 %>
         <%#= render "recipes/recipe_card", recipe: recipe %>
        <%# count += 1 %>
        <%# end %>
      <%# end %>
    </div>
    <p class="text-sm-right"><%#= link_to "See all >>", recipes_path, class: "link-text-color" %></p>
  </div>
</div> -->
