<h1>my profile</h1>

    <%= simple_form_for @user, url: profile_path, method: :patch do |f| %>
    <div class="row">
        <div class="col-xs-6">
            <%= f.input :first_name %>
        </div>
        <div class="col-xs-6">
            <%= f.input :last_name %>
        </div>
    </div>
    <%= f.input :email, input_html: { autocomplete: "email" }, label_html: {class: 'pull-left'} %>
    </div>
    <%= f.input :photo, as: :file, required: false %>

    <%= f.button :submit, class: "btn btn-info" %>
    <% end %>
